.container{
    display: flex;
    flex-direction: column;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 8px 5px darkgrey;
    margin: 10px 10px;
}

.container:hover {
    background-color:  rgb(238, 231, 231);;
}

.container:active {
    transform: translateY(4px);
    box-shadow: 0px 3px 5px rgb(110, 109, 109);
}

.container a div{
    text-decoration: none;
    text-decoration: unset;
}

.cardDescription{
    display: flex;
    flex-wrap: wrap;
}
